[submodule "ona-production"]
	path = ona-production
	url = https://github.com/ona-ship-it/ona/repo.git

[submodule "onagui"]
	path = onagui
	url = https://github.com/org/repo.git

[submodule "onagui-clean"]
	path = onagui-clean
	url = https://github.com/ona-ship-it/ona/clean

[submodule "onagui-new"]
	path = onagui-new
	url = https://github.com/ona-ship-it/ona/new-onagui.git
